# general Modules
django >3.2,<3.3
python-decouple
Pillow==10.4.0
djangorestframework
djangorestframework-simplejwt


# third party modules
django-filter
markdown
coreapi
drf-yasg[validation]


#email third party moduls
django-mail-templated

